@import "variables";
@import "mixins/typhography";
@import "mixins/media-queries";

body {
    margin: 0;
    padding: 0;
    font-family: $body-font-family;
    font-size: $body-text-font-size;
    color: $body-font-color;
    font-weight: 400;
    line-height: 27px;
    background-color: $body-background-color;
    overflow-x: hidden;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

p {
    @include p;
}

.sub-title {
    font-family: $sub-heading-font-family;
    font-size: $h3-font-size;
    color: $sub-heading-color;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 44px;
    margin: 0;
}


