// Font family
$heading-font-family: "Gilroy";
$sub-heading-font-family: "Great Vibes";
$body-font-family: "Muli";

//Color
$primary-color: #7DD87D;
$heading-color: #130849;
$sub-heading-color: #F54300;
$body-font-color: #999FB9;
$body-background-color: #ffffff;

//font-size
$h1-font-size: 70px;
$h2-font-size: 48px;
$h3-font-size: 35px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 17px;
$body-text-font-size: 17px;

//Button color
$btn-primary-color: $primary-color;
$btn-secondary-color: $heading-color;
