@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/great-vibes/GreatVibes-Regular.eot');
    src: url('../fonts/great-vibes/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/great-vibes/GreatVibes-Regular.woff2') format('woff2'),
        url('../fonts/great-vibes/GreatVibes-Regular.woff') format('woff'),
        url('../fonts/great-vibes/GreatVibes-Regular.ttf') format('truetype'),
        url('../fonts/great-vibes/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

