//blog version one pages 
.blog-version-one-breadcrumb-section {
    background-image: url(../images/menu-bg-one.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0 300px;

    @include respond(tab-land) {
        padding: 50px 0 150px;
    }

    @include respond(phone-large) {
        padding: 50px;
    }

}

.blog-version-one-wrapper {
    padding-bottom: 200px;

    @include respond(tab-port) {
        padding-bottom: 100px;
    }

    @include respond(phone-large) {
        padding-bottom: 50px;
    }
}