.lunch-menu-items {
    .menu-items {
        .menu-item {
            .menu-item-content {
                .menu-item-title {
                    h4 {
                        font-size: 30px;
                        line-height: 37px;
                    }
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

#menu-booking-section {

    padding: 130px 0px 200px;

}

#menu-newsletters-section {
    padding: 200px 0;
}