.booking-date-wrapper {
    display: flex;
    align-items: center;

    @include respond(tab-port) {
        margin-bottom: 30px;
    }

    img {
        margin-right: 20px;
    }

    .booking-input-date-wrapper {
        width: 100%;
        .form-group {
            margin-bottom: 0;
            input {
                padding: 7px 15px;
                border-radius: 20px;
                border: 0.5px solid #cccfdc;
                color: $body-font-color;
                display: block;
                width: 100%;
                font-size: 15px;
                font-weight: 400;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}