.breadcrumb {
    background-color: transparent;
    padding: 0;

    li {
        a {
            font-family: 'Gilroy';
            font-size: 17px;
            line-height: 27px;
            font-weight: 600;
            color: $secondary-color;
        }

        &.breadcrumb-item {
            &.active {
                color: $body-font-color;
            }
        }
    }
}