@import "mixins/typhography";
//Button
.btn-primary {
    @include btn;

    &:hover {
        color: $body-background-color;
        background-color: $primary-color;
        text-decoration: none;
    }
    &:active{
        border: none;
        box-shadow: none;
        outline: none;
        color: $body-background-color !important;
        background-color: $primary-color;
    }

    &:focus {
        border: none;
        box-shadow: none !important;
        outline: none;
        color: $body-background-color;
        background-color: $primary-color;
    }
}

.btn-secondary {
    @extend .btn-primary;
    background-color: $secondary-color !important;
    &:hover {
        color: $body-background-color;
        background-color: $secondary-color;
        text-decoration: none;
    }
    &:active{
        border: none;
        box-shadow: none;
        outline: none;
        color: $body-background-color;
        background-color: $secondary-color;
    }

    &:focus {
        border: none;
        box-shadow: none !important;
        outline: none;
        color: $body-background-color;
        background-color: $secondary-color;
    }
}

