.featured-wrapper {
    .featured-images {
        img {
            width: 100%;
        }
    }

    .featured-text {

        @include respond(tab-port) {
            text-align: center;
            padding-top: 0px;

            h2 {
                font-size: 38px;
            }
        }

        @include respond(phone-large) {
            h2 {
                font-size: 30px;
                line-height: 44px;
            }

            h3 {
                font-size: 30px;
            }
        }
    }
}