.menu-item-info-wrapper {
    position: absolute;
    top: calc(30% - 100px);
    right: calc(18% - 100px);
    z-index: 1;

    @include respond(tab-port) {
        top: calc(35% - 100px);
    }

    @include respond(phone-large) {
        top: calc(38% - 100px);
        right: calc(30% - 100px);
    }

    .menu-item-info {
        width: 200px;
        height: 200px;
        background-color: $body-background-color;
        border-radius: 10px;
        box-shadow: 0px 5px 40px rgba(171, 178, 204, 0.27);
        text-align: center;
        position: relative;

        @include respond(phone-large) {
            width: 100px;
            height: 100px;
        }

        img {

            filter: drop-shadow(0px 6px 22px rgba(19, 8, 73, 0.25));
            transform: translateY(2%);
            width: 100%;
            padding: 20px;

            @include respond(phone-large) {
                height: auto;
            }

        }

        .menu-item-info-text {

            span {
                background-color: $secondary-color;
                color: $body-background-color;
                border-radius: 5px 26px 26px 26px;
                width: 52px;
                height: 52px;
                font-size: 17px;
                line-height: 27;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 15px;
                right: 12px;

                @include respond(phone-large) {
                    width: 40px;
                    height: 40px;
                    font-size: 12px;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}