label {
    position: relative;
    font-size: 15px;
    font-weight: 300;
    display: block;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 15px !important;

    &:last-child {
        margin-bottom: 0 !important;
    }

    input {
        display: none;

        &:checked {
            &+span {
                &:after {
                    visibility: visible;
                }
            }
        }
    }

    .checkmark {
        visibility: hidden;

        &:before {
            content: "";
            display: block;
            width: 22px;
            height: 22px;
            border: 2px solid $primary-color;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 3px;
            visibility: visible;
        }

        &:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background: $primary-color;
            border-radius: 50%;
            position: absolute;
            top: 9px;
            left: 6px;
            visibility: hidden;
        }
    }


}