.product-menu-section {
    .product-menu-info {
        margin-right: 8.33%;

        @include respond(tab-port) {
            text-align: center;
            padding-top: 0;
            margin-right: 0;

            h2 {
                font-size: 38px;
            }
        }

        @include respond(phone-large) {
            h2 {
                font-size: 30px;
                line-height: 44px;
            }

            h3 {
                font-size: 30px;
            }
        }

        .product-menu-images {
            img {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .product-menu-nav {
        margin-bottom: 180px;

        .isotop_button_wrapper {
            button {
                padding: 10px 35px;
                border-radius: 30px;
                background: transparent;
                border: none;

                &:focus {
                    border: none;
                    box-shadow: none !important;
                    outline: none;
                    color: $primary-color;
                    background-color: #EFFFED;
                }

                &.active {
                    color: $primary-color;
                    background-color: #EFFFED;
                }
            }
        }
    }
}