@import "../variables";

.select2-container--default {
    width: 100%;

    ul {
        li {
            margin-left: 10px;

            &:last-child {
                margin-bottom: 10px;
            }
        }
    }

    .select2-selection--single {
        background-color: #f7f7fa;
        color: $heading-color;
        border-radius: 5px;
        padding-left: 10px;
        height: 53px;
        border: none;

        .select2-selection__rendered {
            color: $body-font-color;
            line-height: 50px;
            font-size: 15px;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }

    .select2-dropdown {
        border: none;
        border-radius: 5px;
    }

    .select2-search--dropdown {
        background-color: #f7f7fa;

        .select2-search__field {
            background-color: #f7f7fa;
            color: $body-font-color;
            border-color: $body-font-color;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 300;

            &:focus {
                outline: none;
            }
        }
    }

    .select2-results {
        background-color: #f7f7fa;
        border-radius: 0px;
        font-size: 15px;
        font-weight: 300;
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: #f7f7fa;
        color: $heading-color;
        border-radius: 5px;
    }

    .select2-results__option--selected {
        background-color: #f7f7fa;
    }

    .select2-selection__arrow {
        display: none;
    }
}